<!DOCTYPE html>

<html lang="en">
<head>
     <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>
	 - OSCAL SSP Tool
</title><script src="/Scripts/modernizr-2.8.3.js"></script>
<link href="/Content/bootstrap.css" rel="stylesheet"/>
<link href="/Content/Site.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(false);", timeoutPeriod);
            
            //setTimeout("window.location = location.href;", timeoutPeriod);
            //setTimeout("ClickHiddenButton();", timeoutPeriod);

        }

        function refresh() {

           // setTimeout("ClickHiddenButton();", 15000);
            setTimeout("location.reload(true);", 15000);
        }

        function ClickHiddenButton() {

            document.getElementById('HiddenButton').click();

        }

    </script>
</head>
<body onload="myFunction()">
    <form method="post" action="./ConvertToWord" id="ctl01" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="4UW3LF08AylyFY2GrujCPi5dVjJc86D7gttUU4vIeM3X5yOkrhA3MyNad7XcFSSgL2qncIKDzGJNpATuH47paly6FU48Hr4Z04Pb6KYjS8IpqnGwK9jPO7tatAA8YgpR7wjFvRpbse6MzSql8jrQ+KEfHjV2PP9u0InfoQ+Msl7M89ZSZj/NXElo/towgyG7+I+wiMfu/S1Z+WTdNh3CkXTtP/idr4IopUDkw7MVB7q//lF89u6cUA0ShlxCZz59" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['ctl01'];
if (!theForm) {
    theForm = document.ctl01;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>



<script src="/bundles/MsAjaxJs?v=D6VN0fHlwFSIWjbVzi6mZyE9Ls-4LNrSSYVGRU46XF81" type="text/javascript"></script>
<script> var message_para=document.getElementById("realmessage");message_para.innerText="";</script>
<script> var mainbar_div=document.getElementById("mainbar");mainbar_div.aria-valuenow=0;mainbar_div.style.width = "0px"</script>
<script> var realbar_span=document.getElementById("realbar");realbar_span.innerText="0% Complete";</script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.js" type="text/javascript"></script>
<script src="/bundles/WebFormsJs?v=N8tymL9KraMLGAMFuPycfH3pXe6uUlRXdhtYv8A_jUU1" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="4AAEEC93" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="sAu2fSbK5AJY72LN/nqaqYtXZTi1W+AVgUMhIfaPKQU2LMbi5e9hk36g3c7s5R7VaCmGyeQK15yn/Jl11ndUftMhMwKehi7CvVr2tJ2SwTVV8UC9p8CdLsWOQQbpFOt+" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ctl09', 'ctl01', [], [], [], 90, 'ctl00');
//]]>
</script>


        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="./" class="navbar-brand">OSCAL SSP Tool</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./">Home</a></li>
                        <li><a href="ConvertToWord.aspx">ConvertToWord</a></li>
                        <li><a href="About">About</a></li>
                        <li><a href="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="container body-content">
            
    



<p>
    &nbsp;</p>
<input type="file" name="ctl00$MainContent$UploadCustomControl1$FileUpload1" id="MainContent_UploadCustomControl1_FileUpload1" />
<p>
    <input type="submit" name="ctl00$MainContent$UploadCustomControl1$Button1" value="Button" id="MainContent_UploadCustomControl1_Button1" />
</p>
<p>
    &nbsp;</p>
<div class="container">
 <p id="realmessage"></p>
  <div class="progress">
  <div id="mainbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0% ">
    <span  id="realbar" class="sr-only">0% Complete</span>
     </div>
   </div>
 </div>


           
<script language=javascript>
function myFunction()
{
   document.getElementById("realmessage").innerText=" Successfully mapped the Metadata, System Characteristics, System Implementation, ..."; 
  document.getElementById("mainbar").style.width = "10%";
  document.getElementById("realbar").innerText="10% Complete"
  }
  </script>


            <hr />
            <footer>
                <p>&copy; 2020 - OSCAL SSP Tool V1.0 - <a href ="http://www.volpegroup.com"  target="_blank">VITG INC.</a></p>
            </footer>
        </div>
    </form>
</body>
</html>
