<!DOCTYPE html>

<html lang="en">
<head><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>
	Home Page - OSCAL SSP Tool
</title><script src="/Scripts/modernizr-2.8.3.js"></script>
<link href="/Content/bootstrap.css" rel="stylesheet"/>
<link href="/Content/Site.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(false);", timeoutPeriod);
        }

        function refresh() {
            setTimeout("location.reload(true);", 15000);
        }

        function ClickHiddenButton() {
            document.getElementById('HiddenButton').click();
            
        }

        function myFunction(text, percent) {
            document.getElementById("realmessage").innerText = text;
            document.getElementById("mainbar").style.width = percent;
            document.getElementById("realbar").innerText = percent
			
			  document.getElementById("maindiv").style.visibility='visible';
			
        }

    </script>
	
	<script>
	function Closet() {
            
			 document.getElementById("mainBody").style.display="none";
			
        }
	
	</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body  id="mainBody" onload="myFunction("","0%")">
    <form method="post" action="./Default" id="ctl01" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="Q4c3ykZZoE7oMdtuOYS7UedY/2iYESVgy3aQ/iGEKeNX6lUgwviie93y1EietwntzMLQd6DulAPljgQfb953gx7wCkmf6B0FzHHvl9dx0VvOWtH3wPooShah+jEQDv63qINQ0zU8gtt5xkNu9d1ZAI946CQsBeDRtZ/r7jEPmm9zjkMhJNk6WK9IJGaGUplgZI2FIhpJzklfaJlEW5hwEwxrVa8CS5B7IP/F3QbxY0EhBl9AuDkmbLm2VGseo+aW" />
</div>




<script src="/bundles/MsAjaxJs?v=D6VN0fHlwFSIWjbVzi6mZyE9Ls-4LNrSSYVGRU46XF81" type="text/javascript"></script>


<script src="Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.js" type="text/javascript"></script>
<script src="/bundles/WebFormsJs?v=N8tymL9KraMLGAMFuPycfH3pXe6uUlRXdhtYv8A_jUU1" type="text/javascript"></script>

       

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="./" class="navbar-brand">OSCAL SSP Tool</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./">Home</a></li>
                        <li><a href="ConvertToWord.aspx">ConvertToWord</a></li>
                        <li><a href="About">About</a></li>
                        <li><a href="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            
          </div>
      
            
        </div>
		
		<div class="container body-content">
      <div id ="maindiv"  style="visibility: hidden">
        <div id="Status">
            <span id="MainContent_Label1"></span>
        </div>
        <div hidden>
                <input type="submit" name="ctl00$MainContent$HiddenButton" value="Button" id="MainContent_HiddenButton" />
           </div> 
   
         <div class="row">
          <div class="col-md-8">
            <h2>Upload OSCAL SSP XML File</h2>
            <p>
                &nbsp;Browse to the OSCAL SSP XML file and click upload
                to start process.</p>
            <p>
                <strong>&nbsp;Note:</strong> <strong>&nbsp;The generation process can take several minutes to complete.</strong></p>
          
        
            
            <div id="MainContent_updatepanel1">
	
            <input type="file" name="ctl00$MainContent$FileUpload1" id="MainContent_FileUpload1" size="50" style="width:500px;" />
            <input type="submit" name="ctl00$MainContent$UploadButton" value="Upload" onclick="showProgress();" id="MainContent_UploadButton" controlid="UploadButton" />
            
            <div id="MainContent_UpdateProgress" style="display:none;">
		
            <div class="overlay">
            <div style=" z-index: 200; margin-left: 250px;margin-top:150px;opacity: 1;">
            <img alt="" src="../loading.gif" />
            </div>
            </div>
            
	        </div>
            
            <span id="MainContent_StatusLabel1" style="color:#009933;"></span>
            
             </div>
            
             
                         
            
           
        </div>
     </div>
        <div class="container">
           <p id="realmessage"></p>
           <div class="progress">
             <div id ="mainbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0% ">
                <span id = "realbar" class="sr-only">0% Complete</span>
             </div>
           </div>
         </div>


   
    
   
 
    

            <hr />
            <footer>
                <p>&copy; 2020 - OSCAL SSP Tool V1.0 - <a href ="http://www.volpegroup.com"  target="_blank">VITG INC.</a></p>
            </footer>
      </div>  
	 
   </div>


</form>
</body>
</html>
      
    
<script>myFunction("Starting the conversion to Word of the OSCAL SSP OSCALMilestone2Low.xml","2%")
</script><!DOCTYPE html>

<html lang="en">
<head><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>
	Home Page - OSCAL SSP Tool
</title><script src="/Scripts/modernizr-2.8.3.js"></script>
<link href="/Content/bootstrap.css" rel="stylesheet"/>
<link href="/Content/Site.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(false);", timeoutPeriod);
        }

        function refresh() {
            setTimeout("location.reload(true);", 15000);
        }

        function ClickHiddenButton() {
            document.getElementById('HiddenButton').click();
            
        }

        function myFunction(text, percent) {
            document.getElementById("realmessage").innerText = text;
            document.getElementById("mainbar").style.width = percent;
            document.getElementById("realbar").innerText = percent
			
			  document.getElementById("maindiv").style.visibility='visible';
			
        }

    </script>
	
	<script>
	function Closet() {
            
			 document.getElementById("mainBody").style.display="none";
			
        }
	
	</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body  id="mainBody" onload="myFunction("","0%")">
    <form method="post" action="./Default" id="ctl01" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="Q4c3ykZZoE7oMdtuOYS7UedY/2iYESVgy3aQ/iGEKeNX6lUgwviie93y1EietwntzMLQd6DulAPljgQfb953gx7wCkmf6B0FzHHvl9dx0VvOWtH3wPooShah+jEQDv63qINQ0zU8gtt5xkNu9d1ZAI946CQsBeDRtZ/r7jEPmm9zjkMhJNk6WK9IJGaGUplgZI2FIhpJzklfaJlEW5hwEwxrVa8CS5B7IP/F3QbxY0EhBl9AuDkmbLm2VGseo+aW" />
</div>




<script src="/bundles/MsAjaxJs?v=D6VN0fHlwFSIWjbVzi6mZyE9Ls-4LNrSSYVGRU46XF81" type="text/javascript"></script>


<script src="Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.js" type="text/javascript"></script>
<script src="/bundles/WebFormsJs?v=N8tymL9KraMLGAMFuPycfH3pXe6uUlRXdhtYv8A_jUU1" type="text/javascript"></script>

       

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="./" class="navbar-brand">OSCAL SSP Tool</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./">Home</a></li>
                        <li><a href="ConvertToWord.aspx">ConvertToWord</a></li>
                        <li><a href="About">About</a></li>
                        <li><a href="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            
          </div>
      
            
        </div>
		
		<div class="container body-content">
      <div id ="maindiv"  style="visibility: hidden">
        <div id="Status">
            <span id="MainContent_Label1"></span>
        </div>
        <div hidden>
                <input type="submit" name="ctl00$MainContent$HiddenButton" value="Button" id="MainContent_HiddenButton" />
           </div> 
   
         <div class="row">
          <div class="col-md-8">
            <h2>Upload OSCAL SSP XML File</h2>
            <p>
                &nbsp;Browse to the OSCAL SSP XML file and click upload
                to start process.</p>
            <p>
                <strong>&nbsp;Note:</strong> <strong>&nbsp;The generation process can take several minutes to complete.</strong></p>
          
        
            
            <div id="MainContent_updatepanel1">
	
            <input type="file" name="ctl00$MainContent$FileUpload1" id="MainContent_FileUpload1" size="50" style="width:500px;" />
            <input type="submit" name="ctl00$MainContent$UploadButton" value="Upload" onclick="showProgress();" id="MainContent_UploadButton" controlid="UploadButton" />
            
            <div id="MainContent_UpdateProgress" style="display:none;">
		
            <div class="overlay">
            <div style=" z-index: 200; margin-left: 250px;margin-top:150px;opacity: 1;">
            <img alt="" src="../loading.gif" />
            </div>
            </div>
            
	        </div>
            
            <span id="MainContent_StatusLabel1" style="color:#009933;"></span>
            
             </div>
            
             
                         
            
           
        </div>
     </div>
        <div class="container">
           <p id="realmessage"></p>
           <div class="progress">
             <div id ="mainbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0% ">
                <span id = "realbar" class="sr-only">0% Complete</span>
             </div>
           </div>
         </div>


   
    
   
 
    

            <hr />
            <footer>
                <p>&copy; 2020 - OSCAL SSP Tool V1.0 - <a href ="http://www.volpegroup.com"  target="_blank">VITG INC.</a></p>
            </footer>
      </div>  
	 
   </div>


</form>
</body>
</html>
      
    
<script>myFunction("Starting the conversion to Word of the OSCAL SSP OSCALMilestone2Low.xml","2%")
</script><script type="text/javascript">document.getElementById("mainForm").style.display='none';</script><script>myFunction("Successfully mapped the Metadata, System Characteristics and System Implementation Data using basic XML Mappings","15%")
</script><script>myFunction("Conversion of OSCALMilestone2Low.xml: Successfully mapped the Metadata, System Characteristics and System Implementation Data using basic XML Mappings. Opening the word document...","15%")
</script><script>myFunction("Conversion of OSCALMilestone2Low.xml: Successfully opened Word Template Document fletching out controls","25%")
</script><script>myFunction("Conversion of OSCALMilestone2Low.xml: Starting to fill all checkboxes controls","45%")
</script><script>myFunction("Conversion of OSCALMilestone2Low.xml: All control properties checkboxes have been properly filled. Starting to build tables ...","68%")
</script><script>myFunction("Conversion of OSCALMilestone2Low.xml: All tables  have been  successfully built. Adding multiple responsible roles where applicable ...","85%")
</script><script>myFunction("Conversion of OSCALMilestone2Low.xml: All multiple responsible roles have been properly inserted. Word conversion is almost complete","99%")
</script><script type="text/javascript">document.getElementById("maindiv").style.display='none';</script>

<!DOCTYPE html>

<html lang="en">
<head><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>
	Home Page - OSCAL SSP Tool
</title><script src="/Scripts/modernizr-2.8.3.js"></script>
<link href="/Content/bootstrap.css" rel="stylesheet"/>
<link href="/Content/Site.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script type="text/javascript">
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(false);", timeoutPeriod);
        }
        function scrollUp() {
            window.scrollBy(0, 500);
        }

        function refresh() {
            setTimeout("location.reload(true);", 15000);
        }

        function ClickHiddenButton() {
            document.getElementById('HiddenButton').click();
            
        }

        function myFunction(text, percent) {
            document.getElementById("realmessage").innerText = text;
            document.getElementById("mainbar").style.width = percent;
            document.getElementById("realbar").innerText = percent
        }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body  onload="myFunction("","0%")">
    <form method="post" action="./Default" id="ctl01" enctype="multipart/form-data">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="jHnJYB/6k9t5wTszpOnF9durq0TS5/yRh6htpuwpCOZ5EK8GRYd3SZMOZlwvnh3O9cQK7onRlpiKgwCGAhioxZlSNHH9vWIxlykG/fLSkmwChTKCiBWsHBHoFQMDTDSC1Dv4pxs8PgzQBqJsO1kpN7mHmdOKJVAMfz5XuUJiAJHaW1B3IA9gHDHHK8BwD71w6MWwW5QtEbS1D9RJkKd5PGTJYPB+8l0ilY9xaHSONzYRGmCAgh7VF2gy+9piL24SF9mozmIJK2BFmmNlziQocGAEPcgiM407HZBYrXenU7WDOVuYIq3KlJpCh5jEMszn8KWeVfUZ5izoUn8V6bD3rMCL5WXMf8DXFgfzpo+QYaJtfsnJRrlmQIyAHIC7AJcR1rNWgF7VLd/7rNyStWACy3JJqmko1priHUkDyWgre1U7GBTxx4ss0uHcJt2IfHkh" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['ctl01'];
if (!theForm) {
    theForm = document.ctl01;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>



<script src="/bundles/MsAjaxJs?v=D6VN0fHlwFSIWjbVzi6mZyE9Ls-4LNrSSYVGRU46XF81" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.js" type="text/javascript"></script>
<script src="/bundles/WebFormsJs?v=N8tymL9KraMLGAMFuPycfH3pXe6uUlRXdhtYv8A_jUU1" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="rZQQIRJLvQ+YNJdNyZCYFqa0PNM9guPjRzFGrVMOYk8wsAhODve7D3m7O2U4h8Xumb3aNTxnJ5bE+PxxXg/8HQjDGUZVhkVL6iyyvPxDofcjGG9kmxtbITGeUaY5qtbO4tZkvB4gMUJwe2+L6LUsqw==" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ctl09', 'ctl01', ['tctl00$MainContent$updatepanel1','MainContent_updatepanel1'], [], ['ctl00$MainContent$UploadButton','MainContent_UploadButton'], 90, 'ctl00');
//]]>
</script>


        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="./" class="navbar-brand">OSCAL SSP Tool</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="./">Home</a></li>
                        <li><a href="ConvertToWord.aspx">ConvertToWord</a></li>
                        <li><a href="About">About</a></li>
                        <li><a href="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="container body-content">
            
    <script type="text/javascript">
        function showProgress() {
            
            var updateProgress = $get("MainContent_UpdateProgress");
            updateProgress.style.display = "block";
        }

       
    </script>
      
       
   
    <div class="row">
        <div class="col-md-8">
            <h2>Upload OSCAL SSP XML File</h2>
            <p>
                &nbsp;Browse to the OSCAL SSP XML file and click upload
                to start process.</p>
            <p>
                <strong>&nbsp;Note:</strong> <strong>&nbsp;The generation process can take several minutes to complete.</strong></p>
            <p>
                &nbsp;</p>
        
            <p>
           
            <div id="MainContent_updatepanel1">
	
            <input type="file" name="ctl00$MainContent$FileUpload1" id="MainContent_FileUpload1" size="50" style="width:500px;" />
            <input type="submit" name="ctl00$MainContent$UploadButton" value="Upload" onclick="showProgress();" id="MainContent_UploadButton" controlid="UploadButton" />
            
            <div id="MainContent_UpdateProgress" style="display:none;">
		
            <div class="overlay">
            <div style=" z-index: 200; margin-left: 250px;margin-top:150px;opacity: 1;">
            <img alt="" src="../loading.gif" />
            </div>
            </div>
            
	</div>
            
            <span id="MainContent_StatusLabel1" style="color:Green;">Processing Complete.. Click below to open file.</span>
            
</div>
            
             <input type="submit" name="ctl00$MainContent$OpenMyFile" value="Download Word SSP Document" id="MainContent_OpenMyFile" />
                         
          </p>
           
        </div>
     </div>
        <div class="container">
           <p id="realmessage"></p>
           <div class="progress">
             <div id="MainContent_mainbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                <span id = "realbar" class="sr-only">0% Complete</span>
             </div>
           </div>
         </div>


   
    
   
 
    <script type="text/javascript">

        var uniqueId = '4553a357-d422-47f4-85e3-24e7c1de2ebe';

        $(document).ready(function (event) {
            $('#startProcess').click(function () {
                $.post("Default/StartLongRunningProcess", { id: uniqueId }, function () {
                    $('#statusBorder').show();
                    getStatus();
                });
                event.preventDefault;
            });
        });

        function getStatus() {
            var url = 'Default/GetCurrentProgress/' + uniqueId;
            $.get(url, function (data) {
                if (data != "100") {
                    $('#status').html(data);
                    $('#statusFill').width(data);
                    window.setTimeout("getStatus()", 100);
                }
                else {
                    $('#status').html("Done");
                    $('#statusBorder').hide();
                    alert("The Long process has finished");
                };
            });
        }

    </script>
    


            <hr />
            <footer>
                <p>&copy; 2020 - OSCAL SSP Tool V1.0 - <a href ="http://www.volpegroup.com"  target="_blank">VITG INC.</a></p>
            </footer>
        </div>
    

<script type="text/javascript">
//<![CDATA[
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"MainContent_updatepanel1","displayAfter":500,"dynamicLayout":true}, null, null, $get("MainContent_UpdateProgress"));
});
//]]>
</script>
<script> scrollUp() </script>
</form>
</body>
</html>
